<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <script type="application/javascript" src="/functions.js">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state = {{{STATE}}};
        var coal_counts = {{{COAL_COUNTS}}};               // array - value per year (e.g. [1234, 2567, ...])
        var natural_gas_counts = {{{NATURAL_GAS_COUNTS}}}; // array - value per year (e.g. [1234, 2567, ...])
        var nuclear_counts = {{{NUCLEAR_COUNTS}}};         // array - value per year (e.g. [1234, 2567, ...])
        var petroleum_counts = {{{PETROLEUM_COUNTS}}};     // array - value per year (e.g. [1234, 2567, ...])
        var renewable_counts = {{{RENEWABLE_COUNTS}}};     // array - value per year (e.g. [1234, 2567, ...])
    </script>
</head>
<body >
    <div class="top-menu">
        <div class="website-name text-center">
            <h1>Energy Consumption</h1>
        </div>
        <div class="navigation">
            <ul class="menu align-center">
                <li>
                    <h2><a data-toggle="stateTop">State</a></h2>
                </li>
                <li>
                    <h2><a data-toggle="yearTop">Year</a></h2>
                </li>
                <li>
                    <h2><a data-toggle="energyTop">Energy</a></h2>
                </li>
            </ul>
        </div>
    </div>
    <div class="content off-canvas-wrapper">
        <div class="off-canvas position-top off-canvas-absolute" id="stateTop" data-off-canvas data-transition="overlap">
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            
            <div class="text-center">
                <div>
                    <h4>Select A State</h4>
                </div>
                <div>
                    <a href="/state/AL" class="dropLink">AL</a>
                    <a href="/state/AK" class="dropLink">AK</a>
                    <a href="/state/AZ" class="dropLink">AZ</a>
                    <a href="/state/AR" class="dropLink">AR</a>
                    <a href="/state/CA" class="dropLink">CA</a>
                    <a href="/state/CO" class="dropLink">CO</a>
                    <a href="/state/CT" class="dropLink">CT</a>
                </div>
                <div>
                    <a href="/state/DE" class="dropLink">DE</a>
                    <a href="/state/DC" class="dropLink">DC</a>
                    <a href="/state/FL" class="dropLink">FL</a>
                    <a href="/state/GA" class="dropLink">GA</a>
                    <a href="/state/HI" class="dropLink">HI</a>
                    <a href="/state/ID" class="dropLink">ID</a>
                    <a href="/state/IL" class="dropLink">IL</a>
                </div>
                <div>
                    <a href="/state/IN" class="dropLink">IN</a>
                    <a href="/state/IA" class="dropLink">IA</a>
                    <a href="/state/KS" class="dropLink">KS</a>
                    <a href="/state/KY" class="dropLink">KY</a>
                    <a href="/state/LA" class="dropLink">LA</a>
                    <a href="/state/ME" class="dropLink">ME</a>
                    <a href="/state/MD" class="dropLink">MD</a>
                </div>
                <div>
                    <a href="/state/MA" class="dropLink">MA</a>
                    <a href="/state/MI" class="dropLink">MI</a>
                    <a href="/state/MN" class="dropLink">MN</a>
                    <a href="/state/MS" class="dropLink">MS</a>
                    <a href="/state/MO" class="dropLink">MO</a>
                    <a href="/state/MT" class="dropLink">MT</a>
                    <a href="/state/NE" class="dropLink">NE</a>
                </div>
                <div>
                    <a href="/state/NV" class="dropLink">NV</a>
                    <a href="/state/NH" class="dropLink">NH</a>
                    <a href="/state/NJ" class="dropLink">NJ</a>
                    <a href="/state/NM" class="dropLink">NM</a>
                    <a href="/state/NY" class="dropLink">NY</a>
                    <a href="/state/NC" class="dropLink">NC</a>
                </div>
                    <a href="/state/ND" class="dropLink">ND</a>
                    <a href="/state/OH" class="dropLink">OH</a>
                    <a href="/state/OK" class="dropLink">OK</a>
                    <a href="/state/OR" class="dropLink">OR</a>
                    <a href="/state/PA" class="dropLink">PA</a>
                    <a href="/state/RI" class="dropLink">RI</a>
                <div>
                    <a href="/state/SC" class="dropLink">SC</a>
                    <a href="/state/SD" class="dropLink">SD</a>
                    <a href="/state/TN" class="dropLink">TN</a>
                    <a href="/state/TX" class="dropLink">TX</a>
                    <a href="/state/UT" class="dropLink">UT</a>
                    <a href="/state/VT" class="dropLink">VT</a>
                    <a href="/state/VA" class="dropLink">VA</a>
                </div>
                <div>
                    <a href="/state/WA" class="dropLink">WA</a>
                    <a href="/state/WV" class="dropLink">WV</a>
                    <a href="/state/WI" class="dropLink">WI</a>
                    <a href="/state/WY" class="dropLink">WY</a>
                </div>
            </div>
        </div>

        <div class="off-canvas position-top off-canvas-absolute" id="yearTop" data-off-canvas data-transition="overlap">
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            
            <div class="text-center">
                <div>
                    <h4>Select A Year</h4>
                </div>
                <div>
                    <a href="/year/1960" class="dropLink">1960</a>
                    <a href="/year/1961" class="dropLink">1961</a>
                    <a href="/year/1962" class="dropLink">1962</a>
                    <a href="/year/1963" class="dropLink">1963</a>
                    <a href="/year/1964" class="dropLink">1964</a>
                    <a href="/year/1965" class="dropLink">1965</a>
                    <a href="/year/1966" class="dropLink">1966</a>
                    <a href="/year/1967" class="dropLink">1967</a>
                    <a href="/year/1968" class="dropLink">1968</a>
                    <a href="/year/1969" class="dropLink">1969</a>
                </div>
                <div>
                    <a href="/year/1970" class="dropLink">1970</a>
                    <a href="/year/1971" class="dropLink">1971</a>
                    <a href="/year/1972" class="dropLink">1972</a>
                    <a href="/year/1973" class="dropLink">1973</a>
                    <a href="/year/1974" class="dropLink">1974</a>
                    <a href="/year/1975" class="dropLink">1975</a>
                    <a href="/year/1976" class="dropLink">1976</a>
                    <a href="/year/1977" class="dropLink">1977</a>
                    <a href="/year/1978" class="dropLink">1978</a>
                    <a href="/year/1979" class="dropLink">1979</a>
                </div>
                <div>
                    <a href="/year/1980" class="dropLink">1980</a>
                    <a href="/year/1981" class="dropLink">1981</a>
                    <a href="/year/1982" class="dropLink">1982</a>
                    <a href="/year/1983" class="dropLink">1983</a>
                    <a href="/year/1984" class="dropLink">1984</a>
                    <a href="/year/1985" class="dropLink">1985</a>
                    <a href="/year/1986" class="dropLink">1986</a>
                    <a href="/year/1987" class="dropLink">1987</a>
                    <a href="/year/1988" class="dropLink">1988</a>
                    <a href="/year/1989" class="dropLink">1989</a>
                </div>
                <div>
                    <a href="/year/1990" class="dropLink">1990</a>
                    <a href="/year/1991" class="dropLink">1991</a>
                    <a href="/year/1992" class="dropLink">1992</a>
                    <a href="/year/1993" class="dropLink">1993</a>
                    <a href="/year/1994" class="dropLink">1994</a>
                    <a href="/year/1995" class="dropLink">1995</a>
                    <a href="/year/1996" class="dropLink">1996</a>
                    <a href="/year/1997" class="dropLink">1997</a>
                    <a href="/year/1998" class="dropLink">1998</a>
                    <a href="/year/1999" class="dropLink">1999</a>
                </div>
                <div>
                    <a href="/year/2000" class="dropLink">2000</a>
                    <a href="/year/2001" class="dropLink">2001</a>
                    <a href="/year/2002" class="dropLink">2002</a>
                    <a href="/year/2003" class="dropLink">2003</a>
                    <a href="/year/2004" class="dropLink">2004</a>
                    <a href="/year/2005" class="dropLink">2005</a>
                    <a href="/year/2006" class="dropLink">2006</a>
                    <a href="/year/2007" class="dropLink">2007</a>
                    <a href="/year/2008" class="dropLink">2008</a>
                    <a href="/year/2009" class="dropLink">2009</a>
                </div>
                <div>
                    <a href="/year/2010" class="dropLink">2010</a>
                    <a href="/year/2011" class="dropLink">2011</a>
                    <a href="/year/2012" class="dropLink">2012</a>
                    <a href="/year/2013" class="dropLink">2013</a>
                    <a href="/year/2014" class="dropLink">2014</a>
                    <a href="/year/2015" class="dropLink">2015</a>
                    <a href="/year/2016" class="dropLink">2016</a>
                    <a href="/year/2017" class="dropLink">2017</a>
                    <a href="/year/2018" class="dropLink">2018</a>
                </div>
            </div>
        </div>
        <div class="off-canvas position-top off-canvas-absolute" id="energyTop" data-off-canvas data-transition="overlap">
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            
            <ul class="menu vertical">
                <li><a href="/energy/coal" class="dropLink">Coal</a></li>
                <li><a href="/energy/natural_gas" class="dropLink">Natural gas</a></li>
                <li><a href="/energy/nuclear" class="dropLink">Nuclear</a></li>
                <li><a href="/energy/petroleum" class="dropLink">Petroleum</a></li>
                <li><a href="/energy/renewable" class="dropLink">Renewable</a></li>
            </ul>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-3">
                    <h4 class="text-center" style="padding-top: 1rem;"><a href="/state/{{{PREV ABBR}}}">{{{PREV STATE}}}</a></h4>
                </div>
                <div class="cell medium-6">
                    <h1 class="text-center">{{{state}}}</h1>
                </div>
                <div class="cell medium-3">
                    <h4 class="text-center" style="padding-top: 1rem;"><a href="/state/{{{NEXT ABBR}}}">{{{NEXT STATE}}}</a></h4>
                </div>
            </div>
        </div>

        <div class="image text-center">
            <img src="/states.png"
                width="500"
                height="400">
        </div>
        
        <div class="table">
            <table>
                <tr class="text-center">
                    <td>Year</td>
                    <td>Coal</td>
                    <td>Natural Gas</td>
                    <td>Nuclear</td>
                    <td>Petroleum</td>
                    <td>Renewable</td>
                    <td>Natural Gas</td>
                    <td>Total</td>
                </tr>
                {{{CONTENT HERE}}}
            </table>
        </div>
    </div>

    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>
